:root {
  --bg-color: #c9ecf6;
  --bg-btn: rgb(48, 88, 251);
  --hover-bg: black;
  --btn-text: white;
  --btn-text-hover: #b8eeff;
  --nav-bg: #89dff9;
  --shadow: rgba(234, 232, 232, 0.763);
  --circle: rgb(59, 121, 247);
  --head-txt: orange;
  --text: #021943;
}

body {
  background-color: var(--bg-color);
}
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .bnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    max-width: 100%;
    .banner-logo {
      display: flex;
      justify-content: flex-start;
      padding-right: 20%;
      margin-left: -20%;
      .logo {
        display: flex;
        margin: 10px 0px 3px 8px;
        width: 38px;
        height: 35px;
        box-sizing: border-box;
      }
      .logo-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-text {
          font-family: "Plus Jakarta Sans";
          font-weight: 600;
          font-size: 22px;
          letter-spacing: 0.5px;
          text-transform: capitalize;
          color: #2952ce;
        }
        .logo-line {
          margin-left: 1.5px;
          font-family: "DM Sans";
          font-weight: 500;
          font-size: 12px;
          letter-spacing: 0.5px;
          text-transform: capitalize;
          color: #5c85ff;
        }
      }
    }
    .banner-contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-start;
      height: fit-content;

      .adress {
        display: inline-flex;
        padding-right: 15%;

        .location {
          text-align: center;
          padding-top: 10px;
          width: 30px;
          height: 30px;
        }
        .locationtxt {
          width: 14rem;
          font-size: large;
          text-align: center;
          padding: 10px;
        }
      }
      .callbox {
        display: inline-flex;
        padding-right: 15%;

        .call-contact {
          text-align: center;
          padding-top: 10px;
          width: 25px;
          height: 30px;
        }
        .callme {
          width: 10rem;
          font-size: large;
          text-align: center;
          padding: 10px;
        }
      }
      .apt-btn {
        text-align: center;
        padding: 5px;
        /* padding-left: 15%; */
        .btn {
          cursor: pointer;
          width: 300px;
          height: 45px;
          color: var(--btn-text);
          font-size: larger;
          letter-spacing: 8px;
          background-color: var(--bg-btn);
          border-radius: 25px;
          align-content: center;
        }
        .btn:hover {
          background-color: var(--hover-bg);
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          font-weight: bold;
          color: var(--btn-text-hover);
        }
      }
    }
  }
}
.nav-headr {
  display: flex;
  justify-content: center;
  align-items: center;
  .navbar {
    background-color: var(--nav-bg);
    border-radius: 50px;
    margin: 3rem 1rem;
    ul {
      list-style: none;
      width: 100%;
      margin: 0;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          padding: 15px 35px;
          font-size: large;
          font-weight: bold;
          border-radius: 50px;
          color: var(--text);
          cursor: pointer;
          letter-spacing: 2px;
        }
        a:hover {
          color: var(--btn-text);
        }
        .dropdown-menu {
          background-color: var(--bg-color);
          .dropdown-item {
            font-weight: bold;
            border-radius: none !important;
          }
        }
        .dropdown-item:hover {
          background-color: var(--text);
          color: var(--btn-text-hover);
        }
      }
    }
    .searching-form {
      border-radius: 50px;
      display: flex;
      flex-direction: row;
      max-height: 3rem;
      background-color: var(--nav-bg);
      .searching {
        background-color: var(--btn-text);
        width: 350px;
        padding: 10px;
        border-radius: 100px;
        outline: none;
      }
      .search-btn {
        background-color: transparent;
        border: transparent;
        border-radius: 50px;
        margin-left: -44px;
        height: 80%;
        cursor: pointer;
        margin-top: 4px;
      }
      .search-btn img {
        height: 2.3rem;
        border: none;
        border-radius: 50px;
        object-fit: cover;
        padding-right: 3rem;
      }
    }
  }
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--nav-bg);
  .detail {
    max-width: 800px;
    margin: 2.5% 5%;
    h3 {
      color: var(--head-txt);
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h1 {
      color: var(--text);
      text-transform: capitalize;
      font-size: 5rem;
      strong {
        color: var(--circle);
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .contact-btn {
      background-color: var(--bg-btn);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 2rem;
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
    .contact-btn:hover {
      background-color: var(--hover-bg);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: bold;
      color: var(--btn-text-hover);
    }
    .video {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      border-radius: 50px;
      text-transform: capitalize;
      overflow: hidden;
      margin: 2rem 2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 43px;
        height: 28px;
      }
    }
    .video:hover {
      background-color: var(--hover-bg);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: bold;
      color: var(--btn-text-hover);
      padding-right: 1.5rem;
    }
  }
  .doctor {
    padding: 3rem;
    max-width: 800px;
    .ddetail {
      width: 32rem;
      height: 33rem;
      border-radius: 50%;
      padding-left: 2rem;
      border: 2px dotted var(--shadow);
      .sheild {
        background-repeat: no-repeat;
      }
      .circl {
        border-radius: 50%;
        position: absolute;
        border: 2px dotted var(--shadow);
        width: 30rem;
        height: 30rem;
        box-shadow: var(--shadow);
        z-index: 1;
        .circles {
          margin-left: 4rem;
          margin-top: 4rem;
          padding: 4rem;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background-color: var(--circle);
          border: 35px solid var(--circle2);
          box-shadow: 0 0 0 35px var(--circle3);
          img {
            /* mix-blend-mode: multiply; */
            margin: -100%;
            margin-top: -7rem;
            width: 31rem;
            height: 22rem;
            z-index: 2;
          }
        }
      }
    }
  }
}
.partners {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--btn-text);
  padding: 5% 3%;
  .partnr {
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-weight: bold;
    color: var(--head-txt);
    letter-spacing: 2px;
    padding-bottom: 3rem;
  }
  .partnr-logo {
    display: flex;
    flex-direction: row;
    .partnr1 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr2 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr3 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr4 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr5 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
  }
}
.about {
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
  margin: 3rem;
  .about-left {
    left: 0;
    padding: 2rem;
    .Maskgroup {
      width: 390px;
      height: 425px;
      background-image: url("assets/images/oval.png"),
        url("assets/images/Rectangle52.png");
      background-blend-mode: overlay;
      background-size: 100% 100%, cover;
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      margin-left: 5rem;
    }
    .trust {
      background-color: var(--btn-text);
      height: 10rem;
      width: 15rem;
      margin-top: -9rem;
      margin-left: 23rem;
      padding-top: 1rem;
      padding-left: 0.7rem;
      border: 10px solid rgba(255, 255, 255, 0.1) 17%;
      border-radius: 10px;
      backdrop-filter: invert(0%);
      -webkit-backdrop-filter: invert(0%);
      img {
        width: 55px;
        height: 55px;
        border: 5px solid var(--bg-color);
        border-radius: 50%;
      }
      .addImg {
        border: none;
        background: none;
        cursor: pointer;
        transition: transform 0.2s;
      }
      .addImg:hover {
        transform: scale(1.5);
      }
      .trust-txt1 {
        margin-top: 1rem;
        margin-left: 1rem;
      }
      .trust-txt2 {
        color: var(--head-txt);
        font-size: large;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    }
    .doc-name {
      position: absolute;
      display: flex;
      background: white;
      width: max-content;
      padding: 5px 13px 5px 5px;
      border: none;
      border-radius: 10px;
      margin-top: 12rem;
      .name {
        font-weight: bold;
      }
    }
  }
  .about-right {
    margin: 0 5rem 0 2rem;
    .about-heading {
      text-transform: uppercase;
      font-size: large;
      font-family: Plus Jakarta Sans;
      font-weight: bold;
      color: var(--head-txt);
      letter-spacing: 2px;
      padding-bottom: 2rem;
    }
    .about-txt1 {
      font-weight: 600;
      font-size: 46px;
      letter-spacing: 2px;
      text-transform: capitalize;
      strong {
        color: var(--circle);
      }
    }
    .about-txt2 {
      margin: 2rem 2rem 2rem 0;
    }
    .strength {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      align-items: center;
      .first {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      .first i {
        font-size: 15px;
        color: #228be6;
        margin: 8px 0 8px 8px;
      }
      .first span {
        font-size: 16px;
      }
      .first {
        grid-row: 1/2;
        grid-column: 2/3;
      }
      .second i {
        font-size: 15px;
        color: #228be6;
        margin: 8px 0 8px 8px;
      }
      .second span {
        font-size: 16px;
      }
      .third i {
        font-size: 15px;
        color: #228be6;
        margin: 8px 0 8px 8px;
      }
      .third span {
        font-size: 16px;
      }
      .fourth i {
        font-size: 15px;
        color: #228be6;
        margin: 8px 0 8px 8px;
      }
      .fourth span {
        font-size: 16px;
      }
    }
    .read {
      background: transparent;
      color: var(--circle);
      border: none;
      margin-top: 10px;
      text-transform: uppercase;
      width: 12rem;
      height: 3rem;
      font-size: larger;
      cursor: pointer;
      img {
        padding-bottom: 4px;
      }
    }
    .read:hover {
      font-weight: bold;
      text-decoration: underline var(--circle);
      background-color: var(--hover-bg);
      border-radius: 50px;
    }
  }
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  /* margin: 3rem 3rem 5rem 3rem; */
  border: none;
  border-radius: 10px;
  background-color: var(--shadow);
  .main-ser {
    padding: 5rem;
    .ser-head {
      color: var(--head-txt);
      font-size: large;
      font-weight: bold;
      letter-spacing: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem;
    }
    .ser-treat {
      font-size: xx-large;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      strong {
        padding-left: 10px;
        color: var(--bg-btn);
      }
    }
    .ser-offer {
      font-size: xx-large;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .service1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 1500px;
    .lawn {
      background-color: white;
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 1.5rem;
      margin: 0 3rem;
      box-shadow: 2px;
      width: 80%;
      border: none;
      border-radius: 10px;
      .lawn-head {
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 0.7rem;
      }
      .lawn-detail {
        padding: 0 2rem 0.7rem 0.7rem;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
    .bridge {
      background-color: white;
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 1.5rem;
      box-shadow: 5px;
      width: 92%;
      border: none;
      border-radius: 10px;
      .bridge-head {
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 0.7rem;
      }
      .bridge-detail {
        padding: 0 2rem 0.7rem 0.7rem;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
  }
  .service2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem 3rem 5rem 3rem;
    width: 1500px;
    .ser-dentist {
      background: white;
      border: none;
      border-radius: 10px;
      padding: 2rem;
      .dentist-head {
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 0.7rem 0;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
    .ser-cavity {
      background: white;
      border: none;
      border-radius: 10px;
      padding: 2rem;
      .cavity-head {
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 0.7rem 0;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
    .ser-advisory {
      background: white;
      border: none;
      border-radius: 10px;
      padding: 2rem;
      .advisory-head {
        text-transform: uppercase;
        color: black;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 0.7rem 0;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
  }
}
.satistics {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  .clinics {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    .num {
      color: var(--circle);
      font-size: 7rem;
      font-weight: bold;
    }
    .clininc {
      text-transform: uppercase;
      margin-top: -1rem;
      font-weight: bold;
      font-size: large;
      letter-spacing: 3px;
    }
  }
  .country {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    .num {
      color: var(--circle);
      font-size: 7rem;
      font-weight: bold;
    }
    .country1 {
      text-transform: uppercase;
      margin-top: -1rem;
      font-weight: bold;
      font-size: large;
      letter-spacing: 3px;
    }
  }
  .years {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    .num {
      color: var(--circle);
      font-size: 7rem;
      font-weight: bold;
    }
    .year {
      text-transform: uppercase;
      margin-top: -1rem;
      font-weight: bold;
      font-size: large;
      letter-spacing: 3px;
    }
  }
  .partners {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    .num {
      color: var(--circle);
      font-size: 7rem;
      font-weight: bold;
    }
    .partner {
      text-transform: uppercase;
      margin-top: -1rem;
      font-weight: bold;
      font-size: large;
      letter-spacing: 3px;
    }
  }
}
.best-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  .bt-head {
    color: var(--head-txt);
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .bt-special {
    font-size: xx-large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bt-exp {
    font-size: xx-large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-btn);
  }
  .carousel-inner {
    position: relative;
    margin: auto;
    height: 38rem;
    margin: 50px;
  }
  .carousel-item {
    height: 100%;
  }
  .d-block {
    width: 310px;
    height: 465px;
    img {
      border: none;
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
  .d-detail {
    position: absolute;
    background: var(--btn-text);
    margin: -80px 20px 20px 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    height: 30%;
    width: 88%;
  }
  .d-detail h4 {
    color: var(--circle);
  }
  .icons a {
    margin: 0 5px;
    text-decoration: none;
  }
  .icons i {
    padding: 10px;
    border: 2px solid var(--circle);
    border-radius: 50%;
    width: 40px;
    text-align: center;
  }
  @keyframes fadeEffect {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -28px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  .carousel-control-next-icon {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .carousel-control-prev-icon {
    left: 0;
    border-radius: 0 3px 3px 0;
  }
  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.appointment {
  background-color: var(--btn-text);
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .app-data {
    background: var(--nav-bg);
    width: 1350px;
    height: 455px;
    padding: 3rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2;
    gap: 40px;
    .app-left {
      margin-right: 50px;
      padding-right: 50px;
      width: 700px;
      grid-column: 1/2;
      .app-aria {
        color: var(--head-txt);
        font-size: large;
        font-weight: bold;
        letter-spacing: 3px;
        padding-bottom: 1rem;
      }
      .app-head {
        color: var(--text);
        text-transform: capitalize;
        font-size: 4.5rem;
        font-weight: 600;
        strong {
          color: var(--circle);
          text-decoration: underline;
        }
      }
      .app-txt {
        width: 80%;
      }
      .apt-btn {
        padding: 5px;
        margin: 1rem 0;
        .btn {
          cursor: pointer;
          width: 250px;
          height: 45px;
          color: var(--btn-text);
          font-size: larger;
          letter-spacing: 8px;
          background-color: var(--bg-btn);
          border-radius: 25px;
          align-content: center;
        }
        i {
          color: var(--btn-text);
          font-size: 23px !important;
        }
        .btn:hover {
          background-color: var(--hover-bg);
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          font-weight: bold;
          color: var(--btn-text-hover);
        }
      }
    }
    .app-right {
      grid-column: 2/3;
      height: 80%;
      img {
        height: 100%;
      }
    }
  }
}
.testominial {
  display: flex;
  justify-content: center;
  align-items: center;
  .grd-row {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: 30px;
    margin: 5rem;
    .test-col {
      .test {
        color: var(--head-txt);
        font-size: large;
        font-weight: bold;
        letter-spacing: 3px;
        padding-bottom: 1rem;
        padding-left: 4rem;
      }
      .test-head {
        font-size: xx-large;
        font-weight: 500;
        padding-left: 4rem;
        strong {
          color: var(--bg-btn);
        }
      }
      /* col-2 */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 100%;
        margin: auto;
        font-family: arial;
        margin-bottom: 3.5rem;
      }
      img {
        margin-left: 20px;
        width: 4rem;
        border: 5px solid var(--btn-text-hover);
        border-radius: 10px;
        margin-top: -32px;
      }
      .rating {
        display: inline-block;
        padding-left: 20px;
      }
      .rating span {
        font-size: 2rem;
        cursor: pointer;
        color: rgb(203, 203, 9);
      }
      .rating span:hover,
      .rating span:hover ~ span {
        color: var(--nav-bg);
      }
      .rating span.selected,
      .rating span.selected ~ span {
        color: var(--head-txt);
      }
      .card p {
        padding-left: 20px;
        padding-right: 55px;
      }
      .card h1 {
        color: var(--circle);
        font-size: medium;
        padding-left: 20px;
      }
    }
  }
  .grid-row:after {
    content: "";
    display: table;
    clear: both;
  }
}
.blogs {
  background: var(--btn-text);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .blog-head {
    color: var(--head-txt);
    font-size: large;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: left;
    width: 100%;
  }
  .blog-txt {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    p {
      font-size: xx-large;
      font-weight: 500;
      color: var(--bg-btn);
      text-transform: capitalize;
    }
    .btn {
      margin-top: -55px;
      cursor: pointer;
      height: 45px;
      color: var(--btn-text);
      font-size: larger;
      letter-spacing: 8px;
      background-color: var(--bg-btn);
      border-radius: 25px;
      align-content: center;
      width: 20%;
      float: right;
    }
    i {
      color: var(--btn-text);
      font-size: 23px !important;
    }
    .btn:hover {
      background-color: var(--hover-bg);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: bold;
      color: var(--btn-text-hover);
    }
  }
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a b"
      "a c";
    width: 100%;
    .a {
      grid-area: a;
      width: 100%;
      height: 100%;
      background-image: url("./assets/images/a1.png");
      background-size: cover;
      padding: 2rem;
      align-content: flex-end;
      border-radius: 15px;
      color: var(--btn-text);
      .date {
        color: var(--shadow);
      }
      .txt {
        width: 75%;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
    .b {
      grid-area: b;
      width: 100%;
      background-image: url("./assets/images/b2.png");
      background-size: cover;
      padding: 7rem 2rem 2rem 2rem;
      align-content: flex-end;
      border-radius: 15px;
      color: var(--btn-text);
      .date {
        color: var(--shadow);
      }
      .txt {
        width: 75%;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
    .c {
      grid-area: c;
      width: 100%;
      background-image: url("./assets/images/c3.png");
      background-size: cover;
      padding: 2rem;
      align-content: flex-end;
      border-radius: 15px;
      color: var(--btn-text);
      .date {
        color: var(--shadow);
      }
      .txt {
        width: 75%;
      }
      button {
        border: none;
        color: var(--circle);
        background: transparent;
        margin-top: 10px;
        text-transform: uppercase;
        width: 10rem;
        height: 3rem;
        font-size: large;
        cursor: pointer;
        img {
          padding-bottom: 5px;
        }
      }
      button:hover {
        font-weight: bold;
        text-decoration: underline var(--circle);
        background-color: var(--hover-bg);
        border-radius: 50px;
      }
    }
  }
}
.foot {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-logo {
    display: flex;
    justify-content: flex-start;
    padding-right: 20%;
    margin-left: -20%;
    .logo {
      display: flex;
      margin: 10px 0px 3px 8px;
      width: 38px;
      height: 35px;
      box-sizing: border-box;
    }
    .logo-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-text {
        font-family: "Plus Jakarta Sans";
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #2952ce;
      }
      .logo-line {
        margin-left: 1.5px;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #5c85ff;
      }
    }
  }
}
