:root {
  --bg-color: #c9ecf6;
  --bg-btn: rgb(48, 88, 251);
  --hover-bg: black;
  --btn-text: white;
  --btn-text-hover: #b8eeff;
  --nav-bg: #89dff9;
  --shadow: grey;
  --circle: rgb(59, 121, 247);
  --circle2: rgb(15, 88, 244);
  --circle3: rgb(0, 60, 255);
  --head-txt: orange;
  --text: #021943;
}

body {
  background-color: var(--bg-color);
}
.banner {
  width: 1500px;
  height: 50px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* overflow: hidden; */
  .banner-logo {
    display: flex;
    justify-content: left;
    padding-right: 20%;
    margin-left: 0;
    .logo {
      display: flex;
      margin: 10px 0px 3px 8px;
      width: 38px;
      height: 35px;
      box-sizing: border-box;
    }
    .logo-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-text {
        font-family: "Plus Jakarta Sans";
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #2952ce;
      }
      .logo-line {
        margin-left: 1.5px;
        font-family: "DM Sans";
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #5c85ff;
      }
    }
  }
  .banner-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    height: fit-content;

    .adress {
      display: inline-flex;
      padding-right: 5%;

      .location {
        text-align: center;
        padding-top: 10px;
        width: 30px;
        height: 30px;
      }
      .locationtxt {
        width: 14rem;
        font-size: large;
        text-align: center;
        padding: 10px;
      }
    }
    .callbox {
      display: inline-flex;
      padding-right: 5%;

      .call-contact {
        text-align: center;
        padding-top: 10px;
        width: 25px;
        height: 30px;
      }
      .callme {
        width: 10rem;
        font-size: large;
        text-align: center;
        padding: 10px;
      }
    }
    .apt-btn {
      text-align: center;
      padding: 5px;
      padding-left: 15%;
      .btn {
        cursor: pointer;
        width: 300px;
        height: 45px;
        color: var(--btn-text);
        font-size: larger;
        letter-spacing: 8px;
        background-color: var(--bg-btn);
        border-radius: 25px;
        align-content: center;
      }
      .btn:hover {
        background-color: var(--hover-bg);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        font-weight: bold;
        color: var(--btn-text-hover);
      }
    }
  }
}
.navbar {
  background-color: var(--nav-bg);
  display: flex;
  border-radius: 50px;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* overflow: hidden; */
  ul {
    list-style: none;
    width: 100%;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        padding: 15px 35px;
        font-size: large;
        font-weight: bold;
        border-radius: 50px;
        color: var(--text);
        cursor: pointer;
        letter-spacing: 2px;
      }
      a:hover {
        color: var(--btn-text);
      }
      .dropdown-menu {
        background-color: var(--bg-color);
        .dropdown-item {
          font-weight: bold;
          border-radius: none !important;
        }
      }
      .dropdown-item:hover {
        background-color: var(--text);
        color: var(--btn-text-hover);
      }
    }
  }
  .searching-form {
    /* padding: 10px 0; */
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    max-height: 3rem;
    background-color: var(--nav-bg);
    .searching {
      background-color: var(--btn-text);
      width: 350px;
      padding: 10px;
      border-radius: 100px;
      outline: none;
    }
    .search-btn {
      background-color: transparent;
      border: transparent;
      border-radius: 50px;
      margin-left: -44px;
      height: 80%;
      cursor: pointer;
      margin-top: 4px;
    }
    .search-btn img {
      height: 2.3rem;
      border: none;
      border-radius: 50px;
      object-fit: cover;
      padding-right: 3rem;
    }
  }
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  background-color: var(--nav-bg);
  .detail {
    max-width: 800px;
    margin: 2.5% 5%;
    h3 {
      color: var(--head-txt);
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h1 {
      color: var(--text);
      text-transform: capitalize;
      font-size: 5rem;
      strong {
        color: var(--circle3);
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
    }
    .contact-btn {
      background-color: var(--bg-btn);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 2rem;
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
    .contact-btn:hover {
      background-color: var(--hover-bg);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: bold;
      color: var(--btn-text-hover);
    }
    .video {
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      border-radius: 50px;
      text-transform: capitalize;
      overflow: hidden;
      margin: 2rem 2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 43px;
        height: 28px;
      }
    }
    .video:hover {
      background-color: var(--hover-bg);
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      font-weight: bold;
      color: var(--btn-text-hover);
      padding-right: 1.5rem;
    }
  }
  .doctor {
    padding: 3rem;
    max-width: 800px;
    .ddetail {
      width: 32rem;
      height: 33rem;
      border-radius: 50%;
      padding-left: 2rem;
      border: 2px dotted var(--shadow);
      .sheild {
        background-repeat: no-repeat;
      }
      .circl {
        border-radius: 50%;
        position: absolute;
        border: 2px dotted var(--shadow);
        width: 30rem;
        height: 30rem;
        box-shadow: var(--shadow);
        z-index: 1;
        .circles {
          margin-left: 4rem;
          margin-top: 4rem;
          padding: 4rem;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background-color: var(--circle);
          border: 35px solid var(--circle2);
          box-shadow: 0 0 0 35px var(--circle3);
          img {
            /* mix-blend-mode: multiply; */
            margin: -100%;
            margin-top: -7rem;
            width: 31rem;
            height: 22rem;
            z-index: 2;
          }
        }
      }
    }
  }
}
.partners {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--btn-text);
  padding: 5% 3%;
  .partnr {
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-weight: bold;
    color: var(--head-txt);
    letter-spacing: 2px;
    padding-bottom: 3rem;
  }
  .partnr-logo {
    display: flex;
    flex-direction: row;
    .partnr1 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr2 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr3 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr4 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
    .partnr5 {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
      }
      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        p1 {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: large;
        }
        p2 {
          text-transform: uppercase;
          font-family: Plus Jakarta Sans;
          font-size: small;
        }
      }
    }
  }
}
.about {
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
  margin: 3rem;
  .about-left {
    left: 0;
    padding: 2rem;
    .Maskgroup {
      width: 390px;
      height: 425px;
      background-image: url("assets/images/oval.png"),
        url("assets/images/Rectangle52.png");
      background-blend-mode: overlay;
      background-size: contain;
    }
    .trust {
      background-color: var(--btn-text);
      height: 10rem;
      width: 15rem;
      margin-top: -8rem;
      margin-left: 16rem;
      padding-top: 1rem;
      padding-left: 0.7rem;
      border: 10px solid rgba(255, 255, 255, 0.1) 17%;
      border-radius: 10px;
      backdrop-filter: invert(0%);
      -webkit-backdrop-filter: invert(0%);
      img {
        width: 55px;
        height: 55px;
        border: 5px solid var(--bg-color);
        border-radius: 50%;
      }
      .addImg {
        border: none;
        background: none;
        cursor: pointer;
        transition: transform 0.2s;
      }
      .addImg:hover {
        transform: scale(1.5);
      }
      .trust-txt1{
        margin-top: 1rem;
        margin-left: 1rem;
      }
      .trust-txt2{
        color: var(--head-txt);
        font-size: large;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  .about-right {
    margin: 0 5rem 0 2rem;
    .about-heading {
      text-transform: uppercase;
      font-size: large;
      font-family: Plus Jakarta Sans;
      font-weight: bold;
      color: var(--head-txt);
      letter-spacing: 2px;
      padding-bottom: 2rem;
    }
    .about-txt1 {
      font-weight: 600;
      font-size: 46px;
      letter-spacing: 2px;
      text-transform: capitalize;
      strong {
        color: var(--circle);
      }
    }
  }
}
